html, body {
	height: 100%;
}

body {
	background-color: #2980B9;
}

a {
	outline: 0;
}

.main {
  padding-top: 65px;
  padding-bottom: 65px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #F8FFF2;
  border: 2px solid #3498DB;
  border-radius: 4px 4px 4px 4px;
}

.login-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
